<%= @post.title %>
<%= @post.content %>


    <%= @post.categories.each do |c| %>
      <li><%= link_to c.name, c %></li>
    <% end %>



Comments:

ul>
    <%= @post.comments.each do |comment| %>
      <li><%= comment.user.username %> says: <%= comment.content %></li>
    <% end %>


Users:


    <%= @post.users.uniq.each do |user| %>
      <li><%= link_to(user.username, user) %></li>
    <% end %>



  Create New Comment:

  <%= form_for @post.comments.build do |f|%>
    <%= f.hidden_field :post_id %>
    <%= f.text_area :content %>
  <br>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Choose a User" %>
  <br>
    Create New User:
    <%= f.fields_for :user, @user.comments.last.build_user do |f|%>
   <br>
      Username:
      <%= f.text_field :username %>
      Email:
      <%= f.text_field :email %>
    <% end %>
  
    <%= f.submit %>
  <% end %>